body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 177px;
}

.repos {
    display: flex;
    flex-direction: column;
}